*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Sora', sans-serif;
}
.content
{
    width: 1170px;
    max-width: calc(100vw - 40px);
    margin-left: auto;
    margin-right: auto;
}
.row,.row2
{
    display: flex;
}
a
{
    text-decoration: none;
    color: #C9D2DA;
}

.btn
{
    display: inline-block;
    min-width: 205px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #2E80CE;
    border-radius: 22px;
}
.desc
{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #C9D2DA;
}
/*========================HEADER======================*/



header
{
    background: #10375C;
    padding-top: 30px;
    padding-bottom: 110px;
}
header nav .row
{
    align-items: center;
}
header .logo
{
    margin-right: 318px;
}
header .sign
{
    margin-left: auto;
}
header .logo .image
{
    margin-right: 6px;
}

header .logo .shine
{
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #FFFFFF;
}
header .logo .smile
{
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}
header .menu .menu-items
{
    margin-right: 42px;
}
header .menu .menu-items:hover
{
    text-shadow: 0 0 #FFFFFF;
}
header .sign .btn
{
    min-width: 104px;
    padding: 8px 20px;
    margin-left: 28px;
}
header .main-header
{
    margin-top: 76px;
}
header .main2 .row
{
    align-items: center;
}
header .main-header .main1
{
    max-width: 520px;
    margin-right: 113px;
}
header .main-header .main1 .title
{
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
header .main-header .main1 .desc
{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #C9D2DA;
    margin-top: 22px;
    margin-bottom: 38px;
}
header .main-header .main1 .row
{
    align-items: center;
}
header .main-header .main1 .call
{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 38px;
}



/*========================HEADER======================*/

.hero
{
    margin: 170px 0;
}

.hero .box-title
{
    text-align:center;
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}
.hero .box-title .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
    margin-bottom: 18px;    
}
.hero .main-hero .box-title .desc
{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #575F66;
}
.hero .main-hero .row
{
    justify-content: space-between;
}
.hero .main-hero .image
{
    width: 50%;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;

}
.hero .max-list     
{
    width: 41%;
   
}
.hero .list .list-item
{
    width: 100%;
    padding: 20px 0 20px 20px;

}
.hero .main-hero .list .list-item .tooth
{
    width: 60px;
    height: 60px;
    background-color: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    margin-right: 19px;
    display: flex;
}
.hero .main-hero .list .list-item .tooth svg
{
    margin:auto
}
.hero .main-hero .list .list-item:hover
{
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.hero .main-hero .list .list-item:hover .tooth
{
    color: white;
    background-color:#2E80CE;
    
}
.hero .list .list-item h3
{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #10375C;
}
.hero .list .more
{
    max-width: 350px;
}
.hero .list .list-item .desc
{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #575F66;
}
.hero .list .list-item .tooth img
{
  margin:auto;
}
.hero .btn
{
    margin-top: 55px;
}


/*========================FEATURES======================*/



.features 
{
    background: #F6FBFF;
    padding: 100px 0;
}
.features .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #10375C;
}
.features .des
{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #575F66;
    max-width: 468px;
    margin-top: 18px;
    margin-bottom: 86px;
}
.features .item
{
    width: calc(1170px/3 - 20px);
    padding: 42px 0 42px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
}
.features .row
{
    gap:30px;
    
}
.features .icon
{
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.features .item .title
{
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #10375C;
    margin-top: 19px;
    margin-bottom: 28px;
}
.features .item .desc
{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #575F66;
}
.features .item .more
{
    margin-top: 18px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #575F66;
}
.features .item:hover 
{
    border: 16px solid #2E80CE;
    transform: translateY(-20px);
}
.features .item:hover .more
{
    color:#2E80CE;
}




/*========================FEATURES======================*/
.services
{
    padding: 170px 0;
}
.services .row
{
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.services .services-image
{
    width: 50%;
   
}
.services .services-image .first
{
   width: 512px;
   height: 370px;
    object-fit: cover; 
    position: absolute;
    top:0;
    left: 0;
}
.services .services-image .second
{
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 50%;
}
.services .services-desc 
{
    padding: 82px 0 82px 130px;
    width: 50%;
}
.services .services-desc .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #10375C;
}
.services .services-desc .desc
{
    margin-top: 18px;
    margin-bottom: 38px;
    color: #575F66;
}



/*========================Dentist======================*/


.dentist .dentist-introduce
{
    text-align: center;
}
.dentist .dentist-introduce .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
    margin-bottom: 50px;
}
.dentist .dentist-introduce .btn
{
    margin-bottom: 70px;
}
.dentist .dentist-list .item
{
    width: calc(25% - 30px);
    flex-shrink: 0;
    border-radius: 6px;
    flex-shrink: 0;
}
.dentist .dentist-list .item .image img
{
    width: 100%;
    background-color: #EAF6FF;
    padding-top: 30px;
}
.dentist .dentist-list .item .dentist-desc
{
    text-align: center;
}
.dentist .dentist-list .item .dentist-desc .author
{
    margin-top: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #10375C;
}
.dentist .dentist-list .row
{
    gap: 30px;
   overflow: hidden;
   
}
.dentist .dentist-list .item .dentist-desc .desc
{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #575F66;
}
.dentist
{
    margin-bottom: 170px;
}


/*========================App======================*/

.app{
    background-color: #2E80CE;
    padding: 0 70px;
    height: 427px;
    position: relative;
}
.app .phone
{
    margin-right: 160px;
    width: 284px;
}
.app .phone img
{
   position: absolute;
    bottom: 0;

}
.app .row
{
    justify-content: space-between;
    
}
.app .app-more
{
    margin:auto 0;
    padding-top: 76px;
    margin-left: 160px;
}
.app .app-more .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.app .app-more .desc
{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 18px 0 38px 0;
}
.app button
{
    padding: 2px 4px;
    background: #2E80CE;
    border-radius: 4px;
    border: 2px solid white;
}


/*========================News======================*/

.news
{
    margin: 170px 0;
}
.news .read-news,.news .news-image
{
    width: 50%;
}
.news .read-news .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #10375C;
}
.news .read-news .desc
{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #10375C;
    margin: 28px 0;
}
.news .read-news button
{
    width: 36px;height: 36px;
    border-radius: 50%;
    display: flex;
    margin-right: 18px;
    border: 1px solid #575F66;
    color: #575F66;
}
.news .read-news button svg
{
    margin:auto;
}
.news .read-news button:hover
{
    color: white;
    background-color: #2E80CE;
}
.news .news-image .item
{
    width: calc(50% - 15px);
    background: #FFFFFF;
border: 1px solid #E8EBEE;
border-radius: 12px;
}
.news .news-image .row
{
    gap:30px;
}
.news .news-image .item .para
{
    padding: 18px 22px 22px 22px;
}
.news .news-image .item .title
{
   
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #10375C;
}
.news .news-image .item .image
{
    width: calc(100% + 1px);
}
.news .news-image .item .desc
{
    margin: 10px 0px 12px 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #575F66;
 }
 



 /*========================Patients======================*/

.patient
{
    background: #F7FBFF;
  
}
.patient .content
{
    text-align: center;
    padding:100px 0;
}
.patient .title
{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}
.patient .seperate
{
    width: 136px;
    height: 2px;
    background: #2E80CE;
    margin:18px auto;
}
.patient .desc
{
   margin:0 auto 38px;
    max-width: 617px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #575F66;
}



/*========================Footer======================*/
footer
{
    padding: 100px 0 42px 0;
    background: #10375C;
    margin-top: 170px;
}
footer .item
{
    margin-right: 78px;
}
footer .row
{
    justify-content: space-between;
    align-items: flex-start;
}
footer .title
{
    font-weight: 600;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */


color: #FFFFFF;
}
footer .desc
{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #A9B3BB;

}
footer .logo
{
    margin-bottom: 21px;
}
footer .logo .image
{
    margin-right: 6px;
}

footer .logo .shine
{
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    color: #FFFFFF;
}
footer .logo .smile
{
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}
footer .item1
{
    max-width: 29%;
}
footer .item2
{
    max-width: 12%;
}
footer .item3
{
    max-width: 12%;
}
footer .item4
{
    max-width: calc(100% - 29% - 12% - 12%);
}
footer .nut
{
    display: flex;
    margin: 20px 0 28px 0;
}
footer .nut button
{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    margin-right: 18px;
}
footer .nut button svg
{
    margin: auto; 
}
footer .nut button:hover
{
    color: white;
    background-color: #2E80CE;
}
footer .sub
{
    display: flex;
}
footer .sub .btn
{
    min-width: 105px;
    padding: 10px 21px;
    border-radius: 4px;

}
footer .sub button
{
    height: 46px;
    width: 212px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #9CA8B1;
    border: 1px solid #406181;
    border-radius: 4px;
    margin-right: 12px;
}


